<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="covid-19 Information">
        <meta name="keyword" content="covid-19 Indonesia">
        <meta name="author" content="Christian">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>About</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/favicon.png">

        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
<body>
    <!-- header -->
    {{>header}}

    <div id="container">
        <div class="main-content">
            <div class="banner-author">
                <h3 class="heading-1">Author</h3>
                    <img src="/img/wjh.jpg" alt="" class="wjh">
                    <br>
                    <br>
                    <br>
                    <p>Christian Tambunan  </p>          
                    <div class="social-icon">
                      <ul class="sc-list">
                          <li class="sc"><a href="https://web.facebook.com/christian.tambunan.9822/" target="_blank"><img src="img/facebook.svg" alt="facebook" class="iml"></a></li>
                          <li class="sc"><a href="https://github.com/ceteee" target="_blank"><img src="img/github.svg" alt="github" class="iml"></a></li>
                          <li class="sc"><a href="https://www.instagram.com/chrstmbn/" target="_blank"><img src="img/instagram.svg" alt="gmail" class="iml"></a></li>
                          
                      </ul>     
                  </div>
            </div>

        </div>
    </div>


    
    <!-- footer -->
    {{>footer}}
  <noscript>!This browser doesn't support javascript!</noscript>
  <script src="/js/app.js"></script>
</body>

</html>