<!-- header -->
    <header>
      <div id="container">
      <nav class="navbar">
        <div class="logo">
          <img src="/img/nav-icon.png">
          <a href="">{{title}}</a>
        </div>
        <ul class="nav-links">
          <li><a class="no-active" href="/">Home</a></li>
          <li><a class="no-active" href="/main">Main</a></li>
          <li><a class="no-active" href="/about">About</a></li>
        </ul>


        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
      </nav>  
    </div>
    </header>